<h1>Thumbnails#generate</h1>
<% @photos.each do |photo| %>
    <p>
      <a href="<%= photo['photo_url'] %>" target="_blank">
        <img src="<%= photo['thumbnail_url'] %>" />
      </a>
    </p>
<% end %>


